body {
  margin: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

center {
  margin: 20px 0;
}

table tr td strong {
  min-width: 50px;
}

h1 .anchor svg,
h2 .anchor svg,
h3 .anchor svg,
h4 .anchor svg,
h5 .anchor svg,
h6 .anchor svg {
  visibility: unset !important;
}