body {
  margin: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

center {
  margin: 20px 0;
  font-weight: 700;
  color: #333333;
}

table tr td strong {
  min-width: 50px;
}

h1 .anchor svg,
h2 .anchor svg,
h3 .anchor svg,
h4 .anchor svg,
h5 .anchor svg,
h6 .anchor svg {
  visibility: unset !important;
}

pre[class*="language-"]:before, pre[class*="language-"]:after {
  box-shadow: unset !important;
}

p > code {
  color: #c92c2c;
  background-color: #fff5f5 !important;
}
