@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1u35tr');
  src:  url('fonts/icomoon.eot?1u35tr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1u35tr') format('truetype'),
    url('fonts/icomoon.woff?1u35tr') format('woff'),
    url('fonts/icomoon.svg?1u35tr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e900";
  color: #1da1f2;
}
.icon-sinaweibo:before {
  content: "\e901";
  color: #e6162d;
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-search:before {
  content: "\e986";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-github:before {
  content: "\eab0";
}

.icon-books:before {
  content: "\e920";
}
