.content {
  margin: 60px 20% 80px 20%;
}

.heading {
  margin-bottom: 20px;
}

.title {
  font-weight: 700;
  margin-bottom: 10px;
}

.info {
  color: #666;
  margin-bottom: 5px;
}

.info span {
  margin-right: 5px;
}

.tags a {
  color: #666;
  margin-right: 5px;
}

@media screen and (max-width: 376px) {
  .content {
    margin: 60px 5% 80px 5%;
  }
}
