.main {
  margin: 0 20%;
}

.catalog {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  margin: 30px 0 10px 0;
  .item {
    margin-top: 10px;
  }
  .year {
    font-size: 46px;
  }
  .link {
    display: flex;
    flex-direction: column;
  }
  .link a {
    font-size: 20px;
    color: #333;
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
  }
  .date {
    margin-right: 10px;
    color: #999;
    font-style: italic;
  }
  .newcontent {
    padding: 1px 5px;
    background-color: #693476;
    border-radius: 4px;
    color: #ffffff;
    margin-left: 10px;
    font-size: 20px;
  }
}

.pagination {
  margin: 30px 0 60px 0;
}

.paginationItem {
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  font-size: 18px;
  margin-right: 10px;
}

.itemSelected {
  background-color: #cf91e2;
}

@media screen and (max-width: 376px) {
  .main {
    margin: 0 5%;
  }
}